.nav{
    height: 4em;
    background-color: #222831;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1%;
    position: fixed;
    width: 100%;
    position: 1;
    z-index: 3;
}

.nav__bar--lista {
    display: flex;
    gap: 1em;
    margin-top: 1%;
}

.nav__bar--imagens {
    display: flex;
    gap: 16px;
}

.button__reserva {
    background-color: #31363F;
    color: white;
    border-radius: 20px;
    border-style: none;
    padding: 2px 20px;
}

.nav__bar--navegacao {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav__bar--navegacao:hover {
    color: black;
}

.button__reserva:hover {
    color: #76ABAE;
    background-color: #EEEEEE;
}