.body__page-section--servicos {
    height: 580px;
    padding: 4%;
}

.servicos__titulo {
    text-align: center;
}

.servicos__texto-Carousel {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 200px;
    align-items: center;
    
}

.slide {
    width: 230px;;
}

.servicos__texto {
    margin-left: 100px;
    text-align: justify;
    text-indent: 20px;
}

.carousel-item {
    width: 225px;
    height: 290px;
}