@import url(./nav.css);
@import url(./banner.css);
@import url(./servicos.css);
@import url(./sobre.css);
@import url(./dicas.css);
@import url(./localizacao.css);
@import url(./footer.css);

body {
    height: 100%;
    width: 100%;
    margin: auto;
}